# Database
DATABASE_URL="postgresql://user:password@localhost:5432/edpsych"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Prisma
PRISMA_GENERATE_SKIP_AUTOINSTALL="false"